* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.categorias {
  display: flex;

  justify-content: space-between;
  /* width: 100%; */
}
.flecha {
  width: 30px;
}
.tarjeta {
  display: flex;
  justify-content: space-evenly;
  width: 33%;
  margin: 0%;
  padding: 0%;
}
